[submodule "UnitTests"]
	path = UnitTests
	url = https://github.com/StarShip-Avalon-Projects/UnitTests.git
[submodule "MonkeySpeakEx"]
	path = MonkeySpeakEx
	url = https://github.com/StarShip-Avalon-Projects/MonkeySpeakEx.git
